[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MAd"]
	path = MAd
	url = https://github.com/cran/MAd
[submodule "RcmdrPlugin.MA"]
	path = RcmdrPlugin.MA
	url = https://github.com/cran/RcmdrPlugin.MA
